@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../base/tables";

.athlete-detail-page {
  @include mixins.page-layout;
  @include mixins.page-typography;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  margin: 0 auto;

  .athletes-table-wrapper {
    @extend .table-wrapper;
  }

  .athlete-detail-info-table {
    @extend .table;
    @extend .table--info;
  }

  .athlete-detail-divider {
    border: none;
    border-top: 2px solid variables.$color-background-dark;
    margin: 2rem 0 1.5rem 0;
  }

  .athlete-detail-table {
    @extend .table;
    @extend .table--data;
  }
}
