@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../base/tables";

.competitions-page {
  @include mixins.page-layout;
  @include mixins.page-typography(1.5rem);

  .competitions-table-wrapper {
    @extend .table-wrapper;
  }

  .competitions-table {
    @extend .table;
    width: 100%;
    border-collapse: collapse;
    font-size: variables.$font-size-s;

    th,
    td {
      padding: 0.4rem;
      text-align: left;
    }

    th {
      font-weight: variables.$font-weight-semibold;
      border-bottom: 2px solid variables.$color-background-dark;
    }

    td {
      border-bottom: 1px solid variables.$gray-light;
    }

    tbody tr {
      transition: background 0.15s;
      cursor: pointer;

      @media (hover: hover) and (pointer: fine) {
        &:hover td {
          background: variables.$hover-color-light;
        }
      }
    }
  }

  .competitions-searchbar-wrapper {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: flex-start;
  }

  .competitions-searchbar-iconwrap {
    position: relative;
    width: 100%;
  }

  .competitions-searchbar {
    width: 100%;

    padding-right: 2.5rem;
    padding: 0.75rem 1rem;
    @include mixins.mobile-safe-input-font;
    border: 1px solid black;
    border-radius: variables.$border-radius-base;
    outline: none;
    color: variables.$color-text;
    transition:
      box-shadow 0.2s ease,
      border 0.2s ease;
    &:focus {
      border-color: variables.$color-primary;
      box-shadow: 0 0 2px 1px variables.$color-accent;
    }
  }

  .competitions-searchbar-icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: variables.$gray-dark;
    pointer-events: none;
    transition: opacity 0.2s;
  }

  .competitions-searchbar:focus + .competitions-searchbar-icon {
    opacity: 0;
  }
}
