@use "../abstracts/variables";
@use "../abstracts/mixins";

.login {
  display: grid;
  justify-items: center;
  align-content: start;
  min-height: 68vh;
  padding-top: 12vh;

  @include mixins.auth-form;
}

@include mixins.password-field;

.form-error {
  @include mixins.form-error(350px);
}
