@use "../abstracts/variables";

.welcome {
  min-height: 68vh;
  display: grid;

  &__main {
    display: grid;
    min-height: inherit;
    align-content: start;
    justify-items: center;
    text-align: center;
    gap: 8px;
    padding-top: 12vh;
  }

  &__title {
    font-size: variables.$font-size-xl;
    font-weight: variables.$font-weight-extrabold;
    margin: 0;
    color: variables.$color-text;
  }

  &__content {
    margin-top: 16px;
    font-size: variables.$font-size-s;
    font-weight: variables.$font-weight-regular;
  }

  &__link {
    text-decoration: variables.$text-underline;
  }
}

.welcome .welcome__button {
  display: grid;
  place-items: center;
  margin-top: 16px;
}
