@use "../abstracts/variables";

.welcome {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto auto;

  &__main {
    display: grid;
    place-items: center;
    text-align: center;
    gap: 8px;
  }

  &__title {
    font-size: variables.$font-size-xl;
    font-weight: variables.$font-weight-extrabold;
    margin: 0;
  }

  &__content {
    margin-top: 16px;
    font-size: variables.$font-size-s;
  }

  &__link {
    text-decoration: variables.$text-underline;
  }
}

.welcome .welcome__button {
  display: grid;
  place-items: center;
  margin-top: 16px;
}
