@use "../abstracts/variables.scss";

.footer {
  &.sidebar {
    @media (min-width: variables.$breakpoint-l) {
      padding-left: variables.$sidebar-width-l;
    }
  }
}

.main {
  padding-top: variables.$header-height + 20px;
  min-height: 77vh;
  &.sidebar {
    padding-left: variables.$sidebar-width;

    @media (min-width: variables.$breakpoint-l) {
      padding-left: variables.$sidebar-width-l;
    }
  }

  @media (min-width: variables.$breakpoint-m) {
    padding-top: variables.$header-height-m + 20px;
  }
  @media (min-width: variables.$breakpoint-l) {
    min-height: 84vh;
    padding-top: variables.$header-height-l + 20px;
  }
  @media (min-width: variables.$breakpoint-xl) {
    padding-top: variables.$header-height-xl + 20px;
  }
  @media (max-width: variables.$breakpoint-l) {
    padding-bottom: 90px;
  }
}

h2 {
  font-size: variables.$font-size-l;
}
h3 {
  font-size: variables.$font-size-m;
}

.page {
  max-width: 900px;
}
