//colors
$color-primary: #f5f5f5;
$color-secondary: #cf362e;
$color-accent: #0f4d92;
$color-background: #f5f5f5;
$color-background-dark: #1b1b1b;
$color-text: #1b1b1b;
$gray-light: #efefef;
$gray-dark: #3d3d3d;
$gray-medium: #656565;
$hover-color-dark: #333333;
$hover-color-light: #e0e0e0;

// typography
$font-family-base: "Inter", sans-serif;
$font-weight-extrabold: 800;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-thin: 200;

$line-height-base: 1.5;

$font-size-base: 1.2rem;
$font-size-xs: 0.85rem;
$font-size-s: 1rem;
$font-size-sm: 1.2rem;
$font-size-m: 1.3rem;
$font-size-l: 1.6rem;
$font-size-xl: 2.4rem;

$text-underline: underline;

// borders
$border-radius-base: 10px;
$border-width-base: 1px;
$border-color-base: #ddd;

$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

//breakpoints
$breakpoint-s: 640px;
$breakpoint-m: 768px;
$breakpoint-l: 1024px;
$breakpoint-xl: 1280px;

//transitions
$default-transition: 0.3s;

//variables for header and footer
$header-height: 56px; //výchozí výška headeru
$header-height-s: 64px;
$header-height-m: 72px;
$header-height-l: 80px;
$header-height-xl: 80px;

$sidebar-width: 0;
$sidebar-width-l: 200px;
